numpy>=2.0,<3
pandas>=2.2,<3
scipy>=1.14,<2
matplotlib>=3.9,<4
astropy>=7.0,<8
astroquery==0.4.11
photutils==3.0.0
fsspec>=2025.3
requests>=2.32
gwcs==1.0.3
asdf-astropy==0.11.0
stdatamodels==6.0.0
pytest>=8.3,<9
